.classimg {
    grid-column: 1;
}

img {
    border-radius: 5%;
    margin-left: 2em;
}
 
.post {
    grid-column: 2;
    display: grid;
    background: #334e68;
    grid-template-rows: 1fr 5fr;
    margin-right: 1em;
    border-radius: 2%;
    justify-items: left;
    position: relative;
}

.post > span:nth-child(odd) {
    background: #627d98;
}

.postid {
    grid-column: 1;
    border-radius: 0.3em;
    color: white;
    padding-top: 0.5em;
    padding-left: 2%;
    width: 98%;
}

.content {
    grid-column: 1;
    grid-row: 2;
    line-height: 1.6;
    color: white;
    border: black;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-left: 2%;
}

.postlnk {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.postlnk:hover {
    color: #673AB7;
}

td {
    width: 100%;
}