main {
    grid-template-columns: 1fr;
    grid-template-rows: 20vh;
    grid-row: 2/-1;
    justify-items: center;
}

.wrapper {
    height: 100vh;
    grid-template-rows: repeat(5, 100px);
    grid-row-gap: 1em;
}


label {
    color: white;
}

input {
    background: #323f4b;
    margin: 0.5em;
}

#submit {
    margin-top: 1em;
    color: white;
    background: #323f4b;
    border: 0.7px solid #3d4c5a;
}

#submit:hover {
    cursor: pointer;
    border: 0.7px solid #673AB7;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    margin: 1em;
}

form > input:nth-child(odd) {
    grid-column: 2;
}