.greeting {
    list-style: none;
    color: white;
    margin-top: 1em;
    margin-left: 2em;
    text-align: center;
}

.info {
    color: white;
    margin-top: 1em;
    margin-right: 1em;
    text-align: center;
}

.classimg {
    grid-column: 1;
}

img {
    border-radius: 5%;
    margin-left: 2em;
}

.post {
    grid-column: 2;
    height: 250px;
    display: grid;
    background: #334e68;
    grid-template-rows: 1fr 5fr;
    margin-right: 1em;
    border-radius: 2%;
    justify-items: left;
    border: 1px solid black;
    position: relative;
}

.post > span:nth-child(odd) {
    background: #627d98;
}

.postid {
    grid-column: 1;
    border-radius: 0.3em;
    color: white;
    padding-top: 0.5em;
    padding-left: 2%;
    width: 98%;
}

.content {
    grid-column: 1;
    grid-row: 2;
    line-height: 1.6;
    color: white;
    border: black;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-left: 2%;
    overflow: hidden;
    /*
    Code adds an ellipsis after X (in this case 7) number of lines
    Taken from Dropshadows by David DeSandro 26 August 2010
    Accessed: 01/03/2021
    URL: https://dropshado.ws/post/1015351370/webkit-line-clamp
    */
    display: -webkit-box;
    -webkit-line-clamp: 7; 
    -webkit-box-orient: vertical;
    /* end of referenced code */
}

.postlnk {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.postlnk:hover {
    color: #673AB7;
}

@media(max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "navi" "main"
    }
    main {
        grid-template-columns: 1fr;
        grid-column-gap: 0em;
        grid-row-gap: 0.5em;
        grid-template-areas: ".info" "img" ".post";
        align-items: center;
    }
    .content {
        grid-column: 1;
        align-items: center;
    }
    .post {
        grid-column: 1;
        margin-right: 0em;
        width: 92vw;
    }
    .info {
        margin-right: 0em;
    }
    img {
        border-radius: 5%;
        margin-left: 0em;
        margin-right: 0em;
        width: 92vw;
    }
    .postimg {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }
}