body {
    background: #222;
}

aside {
    grid-column: 3;
}

.burgermenu {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(50px, auto);
    grid-column: 2;
    grid-row-start: 2;
    margin-top:1em;
    /*background: #3b3b3b;*/
    background: #1f2933;
    border: 1px solid black;
    border-radius: 0.5%;
    box-shadow: 1px 1px black;
}

.wrapper {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    /*grid-row-gap: 1em;*/
}

.wrapper {
    background: rgba(157, 157, 192, 0);
}

header {
    grid-column: 1/4;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: auto;
    place-items: center;
}

h1 {
    font-size: 22px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.head {
    color: gray;
    /*background: #494949;*/
    background: #323f4b;
    border: 1px solid black;
    border-radius: 0.5%;
    box-shadow: 1px 1px black;
    z-index: 0;
}

.search-form {
    grid-column: 3;
    grid-row: 1;
    z-index: 1;
}

.navi {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    margin-right: 0.75em;
}

.navi:hover {
    padding: 0.3em;
    border-radius: 0.3em;
    background: #673AB7;
}

#slash {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}

.flashes {
    text-align: center;
    grid-column: 1/3;

    grid-row: 1;
    list-style-type: none;
}

.srch {
    cursor:pointer;
}

footer {
    grid-column: 2;
    background: #1f2933;
    border: 1px solid black;
    border-top: rgb(95, 95, 95);
    border-radius: 0.5%;
    box-shadow: 1px 1px black;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: small;
}

.foot {
    padding: 2em;
    text-decoration: none;
}

#email {
    padding: 0em;
    text-decoration: none;
    color: white;
}

@media(max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "navi" "main"
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(100px, auto);
        grid-row-gap: 0em;
        grid-template-areas: ".info" "img" ".post"
    }
}

@media(max-width: 600px) {
    .search-form {
        grid-column: 1;
        grid-row: 2;
    }

}