{% extends 'layout.html' %}
{% block customcss %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='aboutstyle.css') }}"/>
{% endblock %}
{% block title %} About us {% endblock %}
{% block header %}<h1>About</h1>{% endblock header %}

{% block feed %}
<p class="info">
    My Name is Josh, I graduated from Cardiff University with a Second Class Honours, Upper division in History in 2019. I was furloughed from my job in April of 2020 and decided to turn my lifelong hobby into a career by applying for a Computing MSc at Cardiff University.
</p>
{% endblock %}