{% extends 'layout.html' %}
{% block customcss %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='aboutstyle.css') }}"/>
{% endblock %}
{% block title %} About Me {% endblock %}
{% block header %}<h1>About Me</h1>{% endblock header %}

{% block feed %}
<p class="info">
    My Name is Josh, I graduated from Cardiff University with a Second Class Honours, Upper division in History in 2019. I was furloughed from my job in April of 2020 and decided to turn my lifelong interest into a career by applying for a Computing MSc at Cardiff University. <br> 
</p>

<p class="info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor purus non enim praesent elementum facilisis leo. Amet consectetur adipiscing elit duis tristique. In cursus turpis massa tincidunt dui ut ornare. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Mi tempus imperdiet nulla malesuada pellentesque elit eget. Integer feugiat scelerisque varius morbi. Enim ut sem viverra aliquet eget sit amet tellus.
</p>
{% endblock %}