{% extends 'layout.html' %}
{% block customcss %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='homestyle.css') }}"/>
{% endblock %}
{% block title -%}Homepage{%- endblock %}
{% block header %}<h1>Home</h1>
{% block search %}
    <form class="search-form" method="POST" action="">
        <input type="search" class="search-input" name="userquery" placeholder="Search...">
        <button type="submit" value="search" class="srch">Search</button>
    </form>
{% endblock %}
{% endblock header %}


{% block feed %}
    {% if current_user.is_authenticated %}
    <li class="greeting"> Hello <i>{{ current_user.username }}</i>! </li>
    {% else %}
    <li class="greeting"> Hello, <i>Guest</i>! </li> 
    {% endif %}
    <p class="info"> Be sure to check out my three most recent blog posts or use the search function at the top of the page to find a specific blog
    </p>

    <!-- Uses jinja to take the three most recent posts in the database and places them in an individual row -->
    <table>
        {% for post in posts %}
        <tr>
            <td class="postimg">
                <a class="postimg" href="{{ url_for('post', post_id=post.id) }}"><img src="{{ url_for('static', filename='img/' + post.image_file) }}" height=250px width=250px></a>
            </td>
            
            <td class="post">
                <!--<div class="post">-->
                <span class="postid" id= '{{ post.user.username }}'>
                <a class="postlnk" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>&nbsp
                <small>by {{ post.user.username }}</small>
                </span>
                <span class="content">{{ post.content }}</span>
            </td>
            
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}