{% extends 'layout.html' %}
{% block title %} Homepage {% endblock %}
{% block feed %}
    {% for post in posts %}
        <p> <a href="{{ url_for('post', post_id=post.id) }}"><img src="{{ url_for('static', filename='img/' + post.image_file) }}" height=250px width=250px> </a></p>

        <p class="title" id= '{{ post.user.username }}'>
            <a href="{{ url_for('post', post_id=post.id) }}">"{{ post.title }}"</a>&nbsp
            by {{ post.user.username }}
        </p>

        <p class="content">
            {{ post.content }}
        </p>
    {% endfor %}
{% endblock %}


{% block header %}
    <h1>Home</h1>
{% endblock header %}