<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    {% block customcss %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">
    <header class="head">
        {% block header -%}
        {%- endblock %}
        <!-- This is where the search bar form the 'home' page and 'view posts' page is inserted into the layout  -->
        {% block search %}
        {% endblock %}
        <!-- This is the navigation menu which remains a constant throughout all webpages -->
            <nav id="menu">
                <a class="navi" href="{{ url_for('home') }}">Home</a>
                <a class="navi" href="{{ url_for('newest_posts') }}">All Posts</a>
                <a class="navi" href="{{ url_for('about') }}">About</a>
                {% if current_user.is_authenticated %}
                <a class="navi" href="{{ url_for('logout') }}">Logout</a>
                <a class="navi" href="{{ url_for('profile', username=current_user.username) }}">Profile</a>
                {% else %}
                <a class="navi" href="{{ url_for('login') }}">Login</a><span id="slash">/</span><a class="navi" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>

    </header>
    <!-- This is where the page content is inserted, including a section which pulls error messages which are placed and formatted using CSS grid-->
    <main>
        {% block feed %}
        {% endblock %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
            <ul class=flashes>
            {% for message in messages %}
            <li class="err"><span style="color: red;">{{ message }}</span></li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}
            {% endwith %}
    </main>
    <!-- Footer containing a couple of links to my social media as well as my contact email. -->
    <footer>
        <span class="foot">Author: Josh Jarvis</span>
        
        <p>
        <a href="https://git.cardiff.ac.uk/c1635922"><img src="{{ url_for('static', filename='img/gitlab.png') }}" height="25px" width="25px"></a>
        <a href="https://www.linkedin.com/in/josh-jarvis-3413a3190/"><img src="{{ url_for('static', filename='img/linkedin.png') }}"height="25px" width="25px"></a>
        </p>
        <span class="foot"><a id="email" href="mailto:jarvisj@cardiff.ac.uk">jarvisj@cardiff.ac.uk</a></span>
    </footer>
    </div>
    
</body>
</html>

<!-- any javascript is appended inline rather than in seperate files. -->
{% block javascript %}
{% endblock %}