{% extends 'layout.html' %}
{% block customcss %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='profilestyle.css') }}"/>
{% endblock %}
{% block header %}
<h1> {{ user.username }} </h1>
{% endblock %}
{% block title %}
{{ user.username }}'s profile
{% endblock %}
{% block feed %}
<div class="showfavs">
<p class="favourited">{{ user.username }}'s Favourites</p>
{% for post in favourites %}
        <p id="eachpost" id= '{{ post.user.username }}'>
            <a class="postlnk" href="{{ url_for('post', post_id=post.post.id) }}">"{{ post.post.title }}"</a>
        </p>

        {% if current_user.username == user.username %}
        <form method="POST" action="{{ url_for('remove_fave_profile', post_id=post.post.id) }}">
            {{ fave_form.hidden_tag() }}
            {{ fave_form.submit_favorite() }}
            <span id="describetext">Remove '{{ post.post.title }}'</span>
        </form>
        {% endif %}
        

    {% endfor %}
</div>
{% endblock %}